.big-project-header {
  padding: 1em;
  border-radius: 1em;
  font-weight: 900;
	text-transform: uppercase;
  margin: 0;
  border-radius: 1em 0;
  border: 8px solid black;
}

.big-project-page-body {
  display: flex;
  background-color: $primary;
  padding: 2em;
  border-radius: 0 1em;
  .big-project-image-gallery {
    .carousel-slider {
      border: 3px white solid;
    }
    img {
      width: 100%;
    }
  }
  .big-project-description {
    background-color: white;
    padding: 1em;
    font-size: 1.25em;
    border-radius: 1em;
    .big-project-inner-description {
      display: flex;
      flex-direction: column;
      margin: auto;
    }
    & p {
      text-align: left;
    }
    .big-project-button {
      display: block;
      color: white;
      padding: 1em 0;
      width: 100%;
      transition: 0.3s;
      background-color: $accent;
      border-radius: 1em;
      border: solid 0.2em black;
      &:hover {
        background-color: white;
        color: black;
      }
    }
    .return-button {
      border: 0.1em solid black;
      padding: 0.5em;
      margin: auto;
      text-align: left;
      & a {
        text-decoration: none;
        color: $accent;
      }
    }
  }
}