.egeplast-header {
  background-color: white;
  padding: 1em;
  border-radius: 1em;
  background-color: $accent;
  color: white;
  font-weight: 900;
	text-transform: uppercase;
  -webkit-text-stroke: 1px black;
  margin: 0;
  border-radius: 1em 0;
  border: 8px solid black;
}

.egeplast-page-body {
  display: flex;
  background-color: $primary;
  padding: 2em;
  border-radius: 0 1em;
  .egeplast-image-gallery {
    max-width:60%;
    margin: 1em;
    .carousel-slider {
      border: 3px white solid;
    }
    img {
      width: 100%;
    }
  }
  .egeplast-description {
    max-width: 35%;
    background-color: white;
    padding: 1em;
    font-size: 1.25em;
    border-radius: 1em;
    & p {
      text-align: left;
    }
    & .egeplast-button {
      display: flex;
      & a {
        color: white;
        width: 100%;
        transition: 0.3s;
        padding: 1em;
        background-color: $secondary;
        border-radius: 1em;
        border: solid 0.2em black;
      }
      & :hover {
        background-color: white;
        color: black;
      }
    }
  }
}