.egeplast-page {
  background-color: $background;
  padding: 2em;
}

.egeplast-header {
  background-color: white;
  padding: 1em;
  border-radius: 1em;
}

.egeplast-page-body {
  display: flex;
  .egeplast-image-gallery {
    max-width:60%;
    margin: 1em;
  }
  img {
    border: 1px grey solid;
    width: 100%;
  }
  .egeplast-description {
    max-width: 35%;
    background-color: white;
    padding: 1em;
    font-size: 1.25em;
    border-radius: 1em;
    & p {
      text-align: left;
    }
    & .egeplast-button {
      background-color: #6a2f2f;
      padding: 1em;
      border-radius: 1em;
      border: solid 0.2em black;
      & a {
        display: inline-block;
        color: white;
        width: 100%;
      }
    }
  }
}