.header {
  border-bottom: 1px solid black;
  position: relative;
  z-index: 99;
  top: 0;
  height: 3em;
  background-color: $text;
  margin-bottom: 1em;
}

.header-links {
  font-weight: 900;
  font-size: 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  margin: auto;
  color: #f4f4f4;
}

.header-left a {
  text-decoration: none;
  text-transform: uppercase;
  color: #f4f4f4;
}

.header-right {
  & ul {
    display: flex;
    align-items: center;
    list-style-type: none;
  }
  & li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #f4f4f4;
  }
}
  