.light {
  .App, .about-text, .project-grid-header, .project-card-description, .big-project-description {
    background-color: $background;
    color: $text;
  }

  .section-heading{
    background-color: $secondary;
  }

  .footer {
    color: $text;
  }

  .project-card-title, .big-project-header {
    background-color: $secondary;
  }

  .return-button {
    background-color: $secondary;
  }

  .dropdown {
    li {
      background-color: $background;
      a {
        color: $text;
      }
    }
    li:hover,
    li:focus-within {
      background: $secondary;
    }
  }
}

.dark {
  .App, .about-text, .project-card-description, .big-project-description {
    background-color: $dark-background;
    color: $dark-text;
  }

  .section-heading, .project-grid-header {
    background-color: $dark-secondary;
  }

  .project-card-title, .big-project-header {
    background-color: $dark-secondary;
    color: $dark-text;
  }

  .footer {
    color: $dark-text;
  }

  .return-button {
    background-color: $dark-secondary;
  }

  .dropdown {
    li {
      background-color: $dark-background;
    }
    li:hover,
    li:focus-within {
      background: $dark-secondary;
    }
  }
}