$text: #0f0d0d;
$background: #ffffff;
$primary: #a41313;
$secondary: #d4c4e3 ;
$accent: #7d09f1;

// 2e65ad

// Dark Mode
$dark-text: #ffffff;
$dark-background: #1c1616;
$dark-primary: #a41313;
$dark-secondary: #1e152c;
$dark-accent: #b1b3b4;