$text: #0f0d0d;
$background: #ffffff;
$primary: #a41313;
$secondary: #646668;
$accent: #2e65ad;

// Dark Mode
// $text: #ffffff;
// $background: #1c1616;
// $primary: #a41313;
// $secondary: #010204;
// $accent: #b1b3b4;