@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,400&display=swap");
.App {
  margin: 0%;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

.section-heading {
  font-weight: 900;
  text-transform: uppercase;
  background-color: #2e65ad;
  color: white;
  -webkit-text-stroke: 1px black;
  border: 8px solid black;
  padding: 0.5em;
  font-size: 2em;
  border-radius: 1em 0;
}

.about-text {
  width: 70%;
  display: flex;
  flex-direction: column;
  margin: auto;
  text-align: left;
  background-color: white;
  padding: 0 5em;
  border-radius: 1em;
}

.section-body {
  background-color: #a41313;
  padding: 1em;
  font-size: 20px;
  font-weight: 700;
  border-radius: 0 1em;
}

.body {
  text-align: center;
  width: 70%;
  margin: auto;
}

.header {
  border-bottom: 1px solid black;
  position: relative;
  z-index: 99;
  top: 0;
  height: 3em;
  background-color: #0f0d0d;
  padding: 1em;
  margin-bottom: 1em;
}

.header-links {
  font-weight: 900;
  font-size: 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 3em;
  width: 70%;
  margin: auto;
  color: #f4f4f4;
}

.header-left a {
  text-decoration: none;
  text-transform: uppercase;
  color: #f4f4f4;
}

.header-right ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
.header-right li a {
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.25s;
  color: #f4f4f4;
}
.header-right li a:hover {
  letter-spacing: 0.1em;
}
.header-right li:not(:first-child) a {
  padding-left: 1em;
}

.tiles {
  display: flex;
  flex-flow: row wrap;
  margin: auto;
  justify-content: space-around;
}

/* Website specific */
.project-grid-header {
  background-color: white;
  padding: 1em;
  border-radius: 1em;
}

.big-project-grid, .small-project-grid {
  background-color: #a41313;
  padding: 1em;
}
.big-project-grid h3, .small-project-grid h3 {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 1.5em;
}

.big-project-grid {
  border-top-right-radius: 1em;
}

.small-project-grid {
  margin-top: 1em;
  border-bottom-left-radius: 1em;
}

.big-project {
  width: calc(50% - 20px);
  margin: 0.5em;
}
.big-project img {
  width: 100%;
}

/* Personal Project Specific */
.project {
  width: calc(25% - 0.5em);
  margin: 0.5em 0.1em;
}
.project img {
  width: 100%;
}

.project-container {
  position: relative;
  text-align: center;
  color: white;
  width: 100%;
}
.project-container:hover img {
  transition: 0.2s;
  filter: blur(8px) brightness(0.6);
}
.project-container:hover figcaption {
  opacity: 1;
}

.container-caption {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

figcaption {
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 0.3s;
}
figcaption h1 {
  font-size: 2em;
  margin: 0;
}
figcaption h2 {
  font-size: 2em;
  margin: 0.5em 0;
}
figcaption p {
  font-size: 1em;
  margin: 1em 0;
}
figcaption button {
  background-color: white;
  border: 0.1em black solid;
  font-size: 1em;
  padding: 0.5em;
  width: 50%;
}

figure {
  margin: 0;
}

.project-card-container {
  padding: 2em;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
}

.project-card-title {
  font-weight: 900;
  text-transform: uppercase;
  background-color: #2e65ad;
  padding: 1em;
  border-radius: 1em 0;
  margin: 0;
  color: white;
  -webkit-text-stroke: 1px black;
  border: 8px solid black;
}

.project-card-body {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #a41313;
  padding: 4em 1em;
  border-radius: 0 1em;
}

.project-card-image {
  width: 50%;
}
.project-card-image img {
  border: 0.5em white solid;
  border-radius: 1em;
}

.project-card-description {
  background-color: #ffffff;
  display: flex;
  width: 50%;
  border-radius: 1em;
  padding: 0.5em;
  height: 100%;
}
.project-card-description .inner-description {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-self: center;
  padding: 1em;
  height: 60vh;
}
.project-card-description .inner-description h2 {
  text-align: left;
  margin: auto;
  padding: 1em;
}
.project-card-description .inner-description .project-card-buttons {
  position: relative;
  bottom: 0;
}
.project-card-description .inner-description .project-card-links {
  display: flex;
  padding-bottom: 1em;
}
.project-card-description .inner-description .project-card-links a {
  width: 50%;
  background-color: #646668;
  padding: 1em;
  color: white;
  text-align: center;
  text-decoration: none;
  outline: 0.2em solid black;
  transition: 0.3s;
}
.project-card-description .inner-description .project-card-links a:first-child {
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
}
.project-card-description .inner-description .project-card-links a:not(:first-child) {
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
}
.project-card-description .inner-description .project-card-links a:hover {
  background-color: white;
  color: black;
  width: 60%;
}
.project-card-description .inner-description .return-button {
  width: 30%;
  border: 0.1em solid black;
  padding: 0.5em;
  margin: auto;
}

.contact-Section .section-body {
  padding: 0;
}

.section-heading {
  margin-bottom: 0;
}

.contact-options {
  display: flex;
  height: 15vh;
}

.contact-linkedin {
  background-color: #007bba;
  border-bottom-left-radius: 1em;
}

.contact-github {
  background-color: #010409;
}

.contact-twitter {
  background-color: #179cf0;
  border-top-right-radius: 1em;
}

.contact-twitter, .contact-github, .contact-linkedin {
  display: flex;
  transition: 0.5s;
  align-items: center;
  justify-content: center;
  width: 33.3333333333%;
}
.contact-twitter:hover, .contact-github:hover, .contact-linkedin:hover {
  width: 50%;
}
.contact-twitter img, .contact-github img, .contact-linkedin img {
  max-width: 10vh;
}
.contact-twitter a, .contact-github a, .contact-linkedin a {
  width: 100%;
}

.egeplast-header {
  background-color: white;
  padding: 1em;
  border-radius: 1em;
  background-color: #2e65ad;
  color: white;
  font-weight: 900;
  text-transform: uppercase;
  -webkit-text-stroke: 1px black;
  margin: 0;
  border-radius: 1em 0;
  border: 8px solid black;
}

.egeplast-page-body {
  display: flex;
  background-color: #a41313;
  padding: 2em;
  border-radius: 0 1em;
}
.egeplast-page-body .egeplast-image-gallery {
  max-width: 60%;
  margin: 1em;
}
.egeplast-page-body .egeplast-image-gallery .carousel-slider {
  border: 3px white solid;
}
.egeplast-page-body .egeplast-image-gallery img {
  width: 100%;
}
.egeplast-page-body .egeplast-description {
  max-width: 35%;
  background-color: white;
  padding: 1em;
  font-size: 1.25em;
  border-radius: 1em;
}
.egeplast-page-body .egeplast-description p {
  text-align: left;
}
.egeplast-page-body .egeplast-description .egeplast-button {
  display: flex;
}
.egeplast-page-body .egeplast-description .egeplast-button a {
  color: white;
  width: 100%;
  transition: 0.3s;
  padding: 1em;
  background-color: #646668;
  border-radius: 1em;
  border: solid 0.2em black;
}
.egeplast-page-body .egeplast-description .egeplast-button :hover {
  background-color: white;
  color: black;
}/*# sourceMappingURL=main.css.map */