@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,400&display=swap");
.App {
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

.section-heading {
  font-weight: 900;
  text-transform: uppercase;
  border: 8px solid black;
  padding: 0.5em;
  font-size: 2em;
  border-radius: 1em 0;
}

.about-text {
  display: flex;
  flex-direction: column;
  margin: auto;
  text-align: left;
  border-radius: 1em;
}

.section-body {
  background-color: #a41313;
  padding: 1em;
  font-size: 20px;
  font-weight: 700;
  border-radius: 0 1em;
}

.body {
  text-align: center;
  margin: auto;
  height: 100%;
}

.footer {
  display: flex;
  bottom: 0;
  width: 70%;
  margin: auto;
  align-content: center;
  justify-content: center;
}

.header {
  border-bottom: 1px solid black;
  position: relative;
  z-index: 99;
  top: 0;
  height: 3em;
  background-color: #0f0d0d;
  margin-bottom: 1em;
}

.header-links {
  font-weight: 900;
  font-size: 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  margin: auto;
  color: #f4f4f4;
}

.header-left a {
  text-decoration: none;
  text-transform: uppercase;
  color: #f4f4f4;
}

.header-right ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
.header-right li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #f4f4f4;
}

.tiles {
  display: flex;
  flex-flow: row wrap;
  margin: auto;
  justify-content: space-around;
}

/* Website specific */
.project-grid-header {
  padding: 1em;
  border-radius: 1em;
}

.big-project-grid, .small-project-grid {
  background-color: #a41313;
  padding: 1em;
}
.big-project-grid h3, .small-project-grid h3 {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 1.5em;
}

.big-project-grid {
  border-top-right-radius: 1em;
}

.small-project-grid {
  margin-top: 1em;
  border-bottom-left-radius: 1em;
}

.big-project {
  margin: 0.5em;
}
.big-project img {
  width: 100%;
}

/* Personal Project Specific */
.project {
  margin: 0.5em 0.1em;
}
.project img {
  width: 100%;
}

.project-container {
  position: relative;
  text-align: center;
  color: white;
  width: 100%;
}
.project-container:hover img {
  transition: 0.2s;
  filter: blur(8px) brightness(0.6);
}
.project-container:hover figcaption {
  opacity: 1;
}

.container-caption {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

figcaption {
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 0.3s;
}
figcaption h1 {
  font-size: 2em;
  margin: 0;
}
figcaption h2 {
  font-size: 2em;
  margin: 0.5em 0;
}
figcaption p {
  font-size: 1em;
  margin: 1em 0;
}
figcaption button {
  background-color: white;
  border: 0.1em black solid;
  font-size: 1em;
  padding: 0.5em;
  width: 50%;
}

figure {
  margin: 0;
}

.project-card-container {
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
}

.project-card-title {
  font-weight: 900;
  text-transform: uppercase;
  padding: 1em;
  border-radius: 1em 0;
  margin: 0;
  border: 8px solid black;
}

.project-card-body {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #a41313;
  padding: 4em 1em;
  border-radius: 0 1em;
}

.project-card-image img {
  border: 0.5em white solid;
  border-radius: 1em;
  width: 100%;
}

.display-linebreak {
  white-space: pre-line;
}

.project-card-description {
  display: flex;
  border-radius: 1em;
  padding: 0.5em;
  height: 100%;
}
.project-card-description .inner-description {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-self: center;
  padding: 1em;
  height: 60vh;
}
.project-card-description .inner-description h2 {
  text-align: left;
  margin: auto;
  padding: 1em;
}
.project-card-description .inner-description .project-card-buttons {
  position: relative;
  bottom: 0;
}
.project-card-description .inner-description .project-card-links {
  display: flex;
  padding-bottom: 1em;
}
.project-card-description .inner-description .project-card-links a {
  width: 50%;
  background-color: #7d09f1;
  padding: 1em;
  color: white;
  text-align: center;
  text-decoration: none;
  outline: 0.2em solid black;
  transition: 0.3s;
}
.project-card-description .inner-description .project-card-links a:first-child {
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
}
.project-card-description .inner-description .project-card-links a:not(:first-child) {
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
}
.project-card-description .inner-description .project-card-links a:hover {
  background-color: white;
  color: black;
  width: 60%;
}
.project-card-description .inner-description .return-button {
  width: 30%;
  border: 0.1em solid black;
  padding: 0.5em;
  margin: auto;
}

.contact-Section .section-body {
  padding: 0;
}

.section-heading {
  margin-bottom: 0;
}

.contact-options {
  display: flex;
  height: 15vh;
}

.contact-linkedin {
  background-color: #007bba;
  border-bottom-left-radius: 1em;
}

.contact-github {
  background-color: #010409;
}

.contact-twitter {
  background-color: #179cf0;
  border-top-right-radius: 1em;
}

.contact-twitter, .contact-github, .contact-linkedin {
  display: flex;
  transition: 0.5s;
  align-items: center;
  justify-content: center;
  width: 33.3333333333%;
}
.contact-twitter:hover, .contact-github:hover, .contact-linkedin:hover {
  width: 50%;
}
.contact-twitter img, .contact-github img, .contact-linkedin img {
  max-width: 10vh;
}
.contact-twitter a, .contact-github a, .contact-linkedin a {
  width: 100%;
}

.big-project-header {
  padding: 1em;
  border-radius: 1em;
  font-weight: 900;
  text-transform: uppercase;
  margin: 0;
  border-radius: 1em 0;
  border: 8px solid black;
}

.big-project-page-body {
  display: flex;
  background-color: #a41313;
  padding: 2em;
  border-radius: 0 1em;
}
.big-project-page-body .big-project-image-gallery .carousel-slider {
  border: 3px white solid;
}
.big-project-page-body .big-project-image-gallery img {
  width: 100%;
}
.big-project-page-body .big-project-description {
  background-color: white;
  padding: 1em;
  font-size: 1.25em;
  border-radius: 1em;
}
.big-project-page-body .big-project-description .big-project-inner-description {
  display: flex;
  flex-direction: column;
  margin: auto;
}
.big-project-page-body .big-project-description p {
  text-align: left;
}
.big-project-page-body .big-project-description .big-project-button {
  display: block;
  color: white;
  padding: 1em 0;
  width: 100%;
  transition: 0.3s;
  background-color: #7d09f1;
  border-radius: 1em;
  border: solid 0.2em black;
}
.big-project-page-body .big-project-description .big-project-button:hover {
  background-color: white;
  color: black;
}
.big-project-page-body .big-project-description .return-button {
  border: 0.1em solid black;
  padding: 0.5em;
  margin: auto;
  text-align: left;
}
.big-project-page-body .big-project-description .return-button a {
  text-decoration: none;
  color: #7d09f1;
}

.interest-gallery-section .interest-gallery-content {
  padding: 0;
}

.interest-options {
  display: flex;
}

.interest-typesetting, .interest-3D, .interest-ps, .interest-other {
  width: 25%;
  transition: 0.5s;
}
.interest-typesetting:hover, .interest-3D:hover, .interest-ps:hover, .interest-other:hover {
  width: 50%;
}
.interest-typesetting img, .interest-3D img, .interest-ps img, .interest-other img {
  max-width: 26vh;
}
.interest-typesetting a, .interest-3D a, .interest-ps a, .interest-other a {
  width: 100%;
}

.light .App, .light .about-text, .light .project-grid-header, .light .project-card-description, .light .big-project-description {
  background-color: #ffffff;
  color: #0f0d0d;
}
.light .section-heading {
  background-color: #d4c4e3;
}
.light .footer {
  color: #0f0d0d;
}
.light .project-card-title, .light .big-project-header {
  background-color: #d4c4e3;
}
.light .return-button {
  background-color: #d4c4e3;
}
.light .dropdown li {
  background-color: #ffffff;
}
.light .dropdown li a {
  color: #0f0d0d;
}
.light .dropdown li:hover,
.light .dropdown li:focus-within {
  background: #d4c4e3;
}

.dark .App, .dark .about-text, .dark .project-card-description, .dark .big-project-description {
  background-color: #1c1616;
  color: #ffffff;
}
.dark .section-heading, .dark .project-grid-header {
  background-color: #1e152c;
}
.dark .project-card-title, .dark .big-project-header {
  background-color: #1e152c;
  color: #ffffff;
}
.dark .footer {
  color: #ffffff;
}
.dark .return-button {
  background-color: #1e152c;
}
.dark .dropdown li {
  background-color: #1c1616;
}
.dark .dropdown li:hover,
.dark .dropdown li:focus-within {
  background: #1e152c;
}

@media screen and (max-width: 400px) {
  img {
    max-width: 80vw;
  }
  .project-card-body {
    flex-direction: column;
  }
  .project-card-description {
    width: 80vw;
  }
  .body {
    width: 100%;
  }
  .header {
    min-height: 15vh;
  }
  .header-left {
    padding: 1em;
  }
  .header-mobile {
    height: 15vh;
  }
  .header-mobile .menu-ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
    height: 15vh;
  }
  .header-mobile .menu {
    height: 15vh;
  }
  .header-mobile .menu p {
    margin: 0;
    height: 15vh;
    width: 20vw;
    padding: 0 0.5em;
    text-align: center;
    line-height: 15vh;
  }
  .header-mobile .dropdown {
    margin: 0;
  }
  .header-mobile .dropdown li {
    width: 20vw;
    padding: 0.5em;
    text-align: center;
  }
  .header-mobile li {
    color: #fff;
    display: block;
    float: right;
    position: relative;
    text-decoration: none;
    transition-duration: 0.25s;
  }
  .header-mobile li a {
    color: #fff;
  }
  .header-mobile li:hover,
  .header-mobile li:focus-within {
    cursor: pointer;
  }
  .header-mobile li:focus-within a {
    outline: none;
  }
  .header-mobile ul li ul {
    visibility: hidden;
    opacity: 0;
    padding: 0;
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 1rem;
    right: 0;
    display: none;
  }
  .header-mobile ul li:hover > ul,
  .header-mobile ul li:focus-within > ul,
  .header-mobile ul li ul:hover,
  .header-mobile ul li ul:focus {
    visibility: visible;
    opacity: 1;
    display: block;
  }
  .header-mobile ul li ul li {
    clear: both;
    width: 80%;
  }
  .header-desktop {
    display: none;
  }
  .about-text {
    padding: 0 0.5em;
  }
  .big-project-page-body {
    flex-direction: column;
  }
}
@media (min-width: 401px) and (max-width: 899px) {
  .project-card-container {
    background-color: red;
  }
  .project-card-image {
    width: 50%;
  }
  .header-mobile {
    display: none;
  }
}
@media screen and (min-width: 900px) {
  .project-card-container {
    padding: 2em;
  }
  .project-card-body {
    flex-direction: row;
  }
  .project-card-image {
    width: 50%;
    padding-right: 1em;
  }
  .project-card-description {
    max-width: 50%;
  }
  .body, .header-links {
    width: 70%;
    padding: 0 3em;
  }
  .header {
    padding: 1em;
  }
  .header-mobile {
    display: none;
  }
  .header-right li a {
    transition: 0.25s;
  }
  .header-right li a:hover {
    letter-spacing: 0.1em;
  }
  .header-right li:not(:first-child) a {
    padding-left: 1em;
  }
  .about-text {
    width: 70%;
    padding: 0 5em;
  }
  .big-project {
    width: calc(50% - 20px);
  }
  .project {
    width: calc(25% - 0.5em);
  }
  .big-project-image-gallery {
    max-width: 60%;
    margin: 1em;
  }
  .big-project-description {
    max-width: 35%;
  }
}/*# sourceMappingURL=main.css.map */